#navbar {
  ul {
    list-style-type: none;
    position: relative !important;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24292e;
  }

  li a {
    display: block;
    color: var(--darkerGrey);
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover {
    color: var(--lightGray);
  }

  .rigth {
    float: right;
  }
}
